.contact-wrapper {
    display:flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
    padding-left: 50px;
}

.contacts { 
    display: flex;
    gap: 20px; 
    margin: 10px;
    font-size: 20px;
    flex-wrap: wrap;
  }

  .contacts b {
    color: black;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 10px;
    transition: hover 0.3s ease;
  }

  .contacts b:hover {
    color: white;
  }

  .contacts a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: hover 0.3s ease;
  }

  .contacts a:hover {
    color: white;
  }


  .icon-spacing {
    margin-right: 10px;
  }



  .table-container{
    padding-left: 50px;
    font-family: 'Arial', sans-serif;
    padding: 30px;
    margin: 30px;
  }

  .opening-hours {
    color: white; 
  }

  .hours-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .hours-grid > div {
    padding: 10px;
    color: white;
  }

  .day {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
  }
  
  