.alloy-home-pic {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, border 0.3s ease;
    box-sizing: border-box;
  }

    .alloy-home-pic:hover {
        transform: scale(1.1);
    }

  