.placeholder-image {
    max-width: 50%;
    height: 50%;
    transition: transform 0.3s ease, border 0.3s ease;
    box-sizing: border-box;
  }

    .placeholder-image:hover {
        transform: scale(1.1);
    }

  