.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 -15px;
}

.service-list > * {
    flex-basis: calc(50% - 30px); 
    margin: 15px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .service-list > * {
        flex-basis: calc(33.333% - 30px); 
    }
}

.service-list-item {
    padding: 20px;  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.service-list-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.service-ad {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

h2{
    margin-bottom: 20px;
    color: white;
    font-style: italic;
    font-family: 'Arial', sans-serif;
}


.service-container {
    padding: 20px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 40px;
    display: inline-block;
    max-width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
};

.service-ad img {
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: orangered;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    color: white;
}