
.next-page-service-info-container {
  padding: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  margin: 40px auto;
  max-width: 90%;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-style: italic;
  color: white;
}


.next-page-service-slides {
  display: flex;
  flex-wrap: wrap;
  max-width: 50%;
  padding-top: 5%;
  justify-content: space-between;
  margin: 0 -15px;
}

.next-page-service-slides img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px 0;
}

@media (max-width: 768px) {
  .next-page-service-slides {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .next-page-service-info-container {
    max-width: 75%;
  }
}

.alloy-info {
  line-height: 1.8; 
  font-size: 100%;
  padding-left: 5%; 
}

h3 {
  font-size: 1.5em;
  text-align: left;
  margin: 20px 0;
  padding-left: 3%;
}

.benefits{
  text-align: left;
  margin-bottom: 20px;
  list-style: none;
}

.benefits:before {
  content: "✓ ";
  color: orangered;
  margin-right: 5px;
  list-style: none;
}

.process {
  text-align: left;
  margin-bottom: 20px;
  list-style: none;
  counter-increment: process-counter;
  position: relative; 
  padding-left: 25px; 
}

  
.process-list li:before {
  content: counter(process-counter) ". "; 
  position: absolute;
  left: 0;
  color: orangered; 
  font-weight: bold; 
  }

  .home-button {
    margin: 10px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-style: normal;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .home-button:hover {
    color: white;
  }

  