.container {
    padding: 20px;
    margin:auto;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 60%
}

h2, h3 {
    color: white;
    text-align: center;
    margin-bottom: 25px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.alloy-description {
    color: white;
    text-align: justify;
    line-height: 1.6;
    font-size: large;
    font-style: oblique;

    
}


ul, ol {
    list-style: none;
    padding: 0;
}

.benefits:before, ol li:before{
    content: "✓ ";
    color: orangered;
    margin-right: 5px;
}

.next-page-pics img {
    width: 30%;
    height: auto;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
} 

.slick-prev {
    left: 25px;
}

.slick-next {
    right: 25px;
}

.slick-prev, .slick-next {
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  

.slick-prev:before, .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    color: white;
    font-weight: 900;
    font-size: 60px;
}

.service-description {
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 20px;

}

@media (max-width: 768px) {
    .service-description, .next-page-pics img {
      width: 100%; 
    }
  }