
img {
    max-width: 100%;
    height: auto;
}

.service-ad {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    text-align: center;
}

.service-ad img {
    margin-bottom: 20px;
    border-radius: 5px; 
}

@media screen and (min-width: 768px)
{
    .service-list-item {
        flex: 0 0 30%;
    }
}

@media screen and (min-width: 768px) {
    .service-ad img {
        max-width: 70%;
        height: 300px;
    }
}

.service-container {
    padding: 20px;
    border: 1px solid white;
    border-radius: 50px;
    margin: 40px auto; 
    max-width: 90%;
}

.service-list {
    display: flex;
    flex-wrap: space-between;
}


.service-list-item {
    flex: 0 0 30%;
    margin-bottom: 20px;
    padding: 30px;
}

.service-list-item:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h2, h3 {
    margin-bottom: 20px;
    color: white;
    font-style: italic;
    font-family: 'Arial', sans-serif;
}

button.find-out-more {
    margin: 10px;
    background-color: orangered;
    border: 2px solid orangered;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button.find-out-more:hover {
    color: white;
}