.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
    height: 150px; 
    margin-bottom: 30px;
    padding-top: 30px;
  }

 
 
  
  nav .nav-item .nav-link {
    color: white;
    font-size: 18px;
    margin: 0 15px;
    padding-left: 30px;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease;
  }

  nav .nav-item .nav-link:hover {
    color: orangered; 
  }

