.josh-container {
  max-width: 1500px;
  margin: 50px auto;
  overflow-y: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 3%;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}


.text-container {
  color: #fff;
  font-size: 1.2rem;
  text-align: justify; 
  max-width: 100%;
  margin: 0;
  font-style: italic;
  flex: 1;
 
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 80%;
  gap: 20px;
  padding-top: 5%;
  margin: auto;
  padding: 20px;
}

.josh-container img {
  width: 100%;
  max-width: 450px;
  height: auto;
  max-height: 550px;
  object-fit: cover;
  border-radius: 10px;
  margin: 15px auto;
}