/* Review Container: General Styling */
.review-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3%;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex; 
  flex-direction: column;
  color: white;
}




/* Review List: Leveraging Bootstrap Grid */
.reviews-list {
  margin: 0; 
  padding: 0 4%; /* Adjust padding for a bit of breathing room on sides */
}

.review {
  margin: 10px;
  background-color: orangered !important;
  border: 2px solid orangered !important;
  border-radius: 5px;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.review:hover {
  color: white;
}

.review strong {
  font-style: normal;
}

.review-divider {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.reviews-footer {
  margin-top: 2rem;
  font-style: italic;
  text-align: center; /* Center align for aesthetics */
  font-size: 0.9rem; /* Slightly smaller font for the footer */
  color: white; /* Adjusted for contrast */
}

.reviews-footer a {
  color: orangered; /* Match the primary color theme */
  text-decoration: none; /* No underline by default */
}

.reviews-footer a:hover {
  text-decoration: underline; /* Underline on hover for clarity */
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .reviews-list {
    padding: 0 2%; /* Reduced padding on smaller screens */
  }
  
  .review-container, .review {
    border-radius: 10px; /* Smaller radius for smaller screens */
  }
}
