.quote-container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3%;
  border: 1px solid #fff;
  border-radius: 50px;
  display: flex; 
  flex-direction: column;  
}

.form-group-container {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
  padding: 0 15%;
}

.form-item {
  width: 100%;
  margin: 10px;
}

@media(max-width : 992px) {
  .form-group-container {
    flex-direction: column;
    padding: 10%;
  }

  .file, .quote-button {
    width: auto;
  }

}

p {
  color: #fff;
  width: 100%;
  font-size: 1.2rem;
}

.file {
  width: 50%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 200px;

}

@media(max-width : 992px) {
  .file {
    width: 100%;
    padding-left: 0;
    font-size: 1rem;
  }
 
}

.quote-button {
  margin: 10px;
  background-color: orangered !important;
  border: 2px solid orangered !important;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.quote-button:hover {
  color: white;

}
