.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro {
    padding: 30px;
    padding-right: 10px;
    color: white;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    border: 1px solid white;
    border-radius: 50px;
    margin: 40px; 
    display: inline-block;
    max-width: 90%; 
    text-align: center;
}

.intro h2 {
    margin-bottom: 20px;
}

.intro p {
    font-size:large;
    margin-bottom: 15px;

}
