.contact-wrapper {
 flex-direction: column;
  font-family: 'Arial', sans-serif;
   margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 50px;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
}

.contact-item {
  display: inline-flex;
  margin: 10px;
  background-color: orangered;
  border: none; 
  border-radius: 5px;
  font-style: normal;
  text-decoration: none;
  padding: 10px;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-item:hover {
  color: white;
}

.contact-item a {
  color: black;
  text-decoration: none;
}

.contact-item:hover a {
  color: white; 
}

.icon-spacing {
  margin-right: 5px;
} 


@media (max-width: 768px) {
  .contact-wrapper {
    padding-bottom: 0;
  }
  
}